html, body{
    background-color: #BCF4F5;
    
}

.back{
    background-color: white;
}

.mar{
    padding-top: 20%;
}


.bor{
    border-right: 2px solid black;
    
}

.Wheels{
    width: 10%;
    height:100%
}

.Bike_frame{
    width: 10%;
}

.Bike_chains{
    width: 10%;
}

.Pedals{
    width: 10%;
}

.Handlebars{
    width: 10%;
}

.Bike_Gears{
    width: 10%;
}

.image{
    height: 250px;
    margin-top: 20px;
    width: 18vh;
}

.title{
    font-size: 400%;
    text-align: center;
    text-decoration: underline;
    
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.chains_im{
    padding-top: 12%;
}

.frame_im{
    padding-top: 12%;
}

.wheel_im{
    padding-top: 12%;
}