<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/checkout.css') }}">
    <title>Sign Up</title>
</head>
<body>
    
    <div class="back">
    
      <h1 class="menu menu-large" id="menuhead"><u>Checkout</u></h1>
        </header>
        <section class="container content-section">
            <div class="shop-items">
                <div class="shop-item">
                    <p>hello</p>
 

                
        </form>
        <br /><br />
    </div>
</body>
</html>