<html>
    <div class="navbar">
        <nav>
            <ul>
              <li>
                  <a href="/">Log-out</a>
              </li>
              <li>
                  <a href="/shop">Prebuilt Bikes</a>
              </li>
              <li>
                  <a href="/Customize">Customize</a>
              </li>
              <li>
                  <a href="/Parts">Parts</a>
              </li>
              <li>
                  <a href="/Checkout">Cart</a>
              </li>
            </ul>
        </nav>
    </div> 

    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Customize.css') }}">
        <h1 class="title">Customize Your New Bike</h1>
    </head>
    <body>
        <section class="items">
        <div class="Wheels">
                <h1>Wheels</h1>

                <div class="back">
                    <p id = "gay_wheels">Gay wheels</p>
                    <img class="image wheel_im" src="https://i5.walmartimages.com/asr/e5222c90-2afa-4aa5-b728-a9ea49bac456_1.2273a478c1cb67654891846174375349.jpeg">
                    <div>
                        <p id="gay_price">$15</p>
                        <form method="post" action="{{ url_for('cust1')}}">
                        <button name="w1" value="w1" type="submit">BUY</button>
                        </form>
                    </div>
                </div>
<p></p>
                
                <div class="mar back">
                    <p id="Mountain_wheels">Mountain Bike Wheels</p>
                    <img class="image wheel_im" src="https://th.bing.com/th/id/OIP.UAYlIVECSzBxyaXl6WCvKwHaHa?pid=ImgDet&rs=1">
                    <div>
                        <p id="Mountain_price">$100</p>
                        <form method="post" action="{{ url_for('cust1')}}">
                        <button name="w2" value="w2" type="submit">BUY</button>
                    </form>
                    </div>
                </div>
<p></p>
                <div class="mar back">
                    <p id="Race_wheels">Race Wheels</p>
                    <img class="image wheel_im" src="https://th.bing.com/th/id/OIP.Vna18T0uHrzzU2SjCJ1v8wHaHa?pid=ImgDet&rs=1">
                    <div>
                        <p id="Race_price">$150</p>
                        <form method="post" action="{{ url_for('cust1')}}">
                        <button name="w3" value="w3" type="submit">BUY</button>
                        </form>
                    </div>
                </div>
<p></p>
                <div class="mar back">
                    <p id="Future_wheels">Future wheels</p>
                    <img class="image wheel_im" src="https://th.bing.com/th/id/R.2e7f7a199abe15895bb56169158df8e1?rik=EpLf8FQN%2bikpTw&riu=http%3a%2f%2fwww.leafmotor.com%2fu_file%2f1907%2fproducts%2f29%2f3559098b1d.jpg&ehk=qxoN6OMFoBcqr%2f0nrnlYf8ZVHaBPF%2bDMstrt%2f3IyVKM%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1">
                    <div>
                        <p id="Future_price"> $420</p>
                        <form method="post" action="{{ url_for('cust1')}}">
                        <button name="w4" value="w4" type="submit">BUY</button>
                        </form>
                    </div>
                </div>

        </div>
        <div class="bor"></div>

        <div class="Bike_frame">
            <h1>Bike Frames</h1>

            <div class="back">
                <p id="Carbon_frame">Carbon Road Frame</p>
                <img class="image frame_im" src="https://th.bing.com/th/id/OIP.URQKqly5Fp7lXzZEJCEyKQHaGD?pid=ImgDet&rs=1">
                <div>
                    <p id="Carbon_price">$1,500</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="f1" value="f1" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="Gravel_frame">Gravel Frame</p>
                <img class="image frame_im" src="https://th.bing.com/th/id/OIP.iE0OBjlKnwU3vE7477YDNgHaHa?pid=ImgDet&rs=1">
                <div>
                    <p id="Gravel_price">$800</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="f2" value="f2" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="Car_mount_frame">Carbon Mountain Frame</p>
                <img class="image " src="https://th.bing.com/th/id/OIP.z2L3SecrBgyjoNJ_H74IgwHaHa?pid=ImgDet&rs=1">
                <div>
                    <p id="car_mount_price">$3,000</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="f3" value="f3" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="Mount_frame">Mountain Frame</p>
                <img class="image " src="https://th.bing.com/th/id/OIP.zP0oZJ5sHx3x0UArii-wsgHaHa?pid=ImgDet&rs=1">
                <div>
                    <p id="Mount_price">$1,973</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="f4" value="f4" type="submit">BUY</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="bor"></div>

        <div class="Bike_chains">

            <h1>Bike Chains</h1>

            <div class="back">
                <p id="12_Chain">12-Speed XTR Chain</p>
                <img class="image chains_im" src="https://www.sefiles.net/images/library/large/shimano-cn-m9100-12-speed-xtr-chain-372777-1.jpeg">
                <div>
                    <p id="12_price">$68.99</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="c1" value="c1" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="Ultegra_chain">Ultegra 10-Speed Chain</p>
                <img class="image" src="https://www.sefiles.net/images/library/large/shimano-cn-m9100-12-speed-xtr-chain-372777-1.jpeg">
                <div>
                    <p id="Ultegra_chain">$43.99</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="c2" value="c2" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="PC_chain">PC-850 8-Speed Chain</p>
                <img class="image chains_im" src="https://www.sefiles.net/images/library/large/shimano-cn-m9100-12-speed-xtr-chain-372777-1.jpeg">
                <div>
                    <p id="PC_chain">$25.00</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="c3" value="c3" type="submit">BUY</button>
                    </form>
                 </div>
            </div> 
<p></p>   
            <div class="mar back">
                <p id="NX_chair">NX Eagle Chain</p>
                <img class="image chains_im" src="https://www.sefiles.net/images/library/large/shimano-cn-m9100-12-speed-xtr-chain-372777-1.jpeg">
                <div>
                    <p id="NX_price">$28.00</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="c4" value="c4" type="submit">BUY</button>
                    </form>
                </div>
            </div>              

        </div>

        <div class="bor"></div>

        <div class="Pedals">

            <h1>Pedals</h1>

            <div class="back">
                <p id="xt_pedals">xt Mountain bike Pedals</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.5w9NR8cJOrRDQNx1ThyS9QHaHa?pid=ImgDet&rs=1">
                <div>
                    <p id="ct_price">$156.81</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="p1" value="p1" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="pd-eh500_pedals">PD-EH500 Dual Sided Pedals</p>
                <img class="image" src="https://static.biketiresdirect.com/productimages/images650/shhbn4-1.jpg">
                <div>
                    <p id="pd-eh500_price">$79.99</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="p2" value="p2" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="Shimano_pedals">Shimano Dura-Ace PD-R9100 Pedals</p>
                <img class="image" src="https://static.biketiresdirect.com/productimages/images650/sh0012-3.jpg">
                <div>
                    <p id="Shimno_price">$279.99</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="p3" value="p3" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="Garmin_pedals">Garmin Vector 3 Power Pedals</p>
                <img name="" class="image" src="https://static.biketiresdirect.com/productimages/images50/gbvgb3-2.jpg">
                <div>
                    <p id="Garmin_price">$699.00</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="p4" value="p4" type="submit">BUY</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="bor"></div>

        <div class="Handlebars">

            <h1>Handlebars</h1>

            <div class="back">
                <p id="Alloy_handlebars">Alloy Road Bike Handlebars</p>
                <img class="image" src="https://i.ebayimg.com/images/i/151549260931-0-1/s-l1000.jpg">
                <div>
                    <p id="Alloy_price">$300.00</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="h1" value="h1" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>   
            <div class="mar back">
                <p id="Carbon_Handlebars">Carbon Fiber Road Bike Handlebars</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.P3lYFrmS7X3DKH0bPypL3gHaHa?pid=ImgDet&rs=1">
                <div>
                    <p id="carbon_handle_price">$500.00</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="h2" value="h2" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="Carbon_race_handle">Carbon Fiber Race Bike Handlebars</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.uRxqqUJ0gPAAcZUTJJ-FtQHaHa?pid=ImgDet&rs=1">
                <div>
                    <p id="Carbon_race_price">$500.00</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="h3" value="h3" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p id="Bike_handle">Bike Handlebars</p>
                <img class="image wheel_im" src="https://www.toplowrider.com/thumbnail.asp?file=assets/images/169104.jpg&maxx=500&maxy=0">
                <div>
                    <p id="Bike_handle">$100.00</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="h4" value="h4" type="submit">BUY</button>
                    </form>
                </div>
            </div>

        </div>


        <div class="bor"></div>

        <div class="Bike_Gears">

            <h1>Bike Gears</h1>

            <div class="back">
                <p>Sugino Messenger Track Fixed Gear 44t</p>
                <img class="image" src="https://cdn.shopify.com/s/files/1/2113/8927/products/Black_5_large.jpg?v=1569307928">
                <div>
                    <p>$174.40</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="g1" value="g1" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p>Gear Mountain Bike Racing Professional</p>
                <img class="image" src="https://i5.walmartimages.com/asr/66ea0c9d-77f1-4a75-8fa8-14f6820648f8.91c0e2e0e5e6ae73b11ba7f53236ebf4.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF">
                <div>
                    <p>$46.60</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="g2" value="g2" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p>JRL 10Tooth Clutch Gear Drive Sprocket</p>
                <img class="image" src="https://m.media-amazon.com/images/I/61GIbQzWXIL._AC_SX466_.jpg">
                <div>
                    <p>$5.99</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="g3" value="g3" type="submit">BUY</button>
                    </form>
                </div>
            </div>
<p></p>
            <div class="mar back">
                <p>Ultegra FC-R8000 Crankset</p>
                <img class="image" src="https://www.westernbikeworks.com/productimages/imageslarge/shdij1-1.jpg">
                <div>
                    <p>$289.99</p>
                    <form method="post" action="{{ url_for('cust1')}}">
                    <button name="g4" value="g4" type="submit">BUY</button>
                    </form>
                </div>
            </div>










        </div>

    </section>

    </body>

</html>