<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Customize.css') }}">
        <P>Parts For Bikes</P>
    </head>
    <body>
        <div class="Wheels">
            <h1>Wheels</h1>

                <div>
                    <p>Gay wheels</p>
                    <img class="image" src="https://i5.walmartimages.com/asr/e5222c90-2afa-4aa5-b728-a9ea49bac456_1.2273a478c1cb67654891846174375349.jpeg">
                    <div>
                        <p>$15</p>
                        <button type="button">BUY</button>
                    </div>
                </div>

                <div>
                    <p>Mountain Bike Wheels</p>
                    <img class="image" src="https://th.bing.com/th/id/OIP.UAYlIVECSzBxyaXl6WCvKwHaHa?pid=ImgDet&rs=1">
                    <div>
                        <p>$100</p>
                        <button type="button">BUY</button>
                    </div>
                </div>

                <div>
                    <p>Racer Wheels</p>
                    <img class="image" src="https://th.bing.com/th/id/OIP.Vna18T0uHrzzU2SjCJ1v8wHaHa?pid=ImgDet&rs=1">
                    <div>
                        <p>$150</p>
                        <button type="button">BUY</button>
                    </div>
                </div>

                <div>
                    <p>Future wheela</p>
                    <img class="image" src="https://th.bing.com/th/id/R.2e7f7a199abe15895bb56169158df8e1?rik=EpLf8FQN%2bikpTw&riu=http%3a%2f%2fwww.leafmotor.com%2fu_file%2f1907%2fproducts%2f29%2f3559098b1d.jpg&ehk=qxoN6OMFoBcqr%2f0nrnlYf8ZVHaBPF%2bDMstrt%2f3IyVKM%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1">
                    <div>
                        <p>$420</p>
                        <button type="button">BUY</button>
                    </div>
                </div>

        </div>

        <div class="Bike_frame">
            <h1>Bike Frames</h1>

            <div>
                <p>Carbon Road Frame</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.URQKqly5Fp7lXzZEJCEyKQHaGD?pid=ImgDet&rs=1">
                <div>
                    <p>$1,500</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Gravel Frame</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.iE0OBjlKnwU3vE7477YDNgHaHa?pid=ImgDet&rs=1">
                <div>
                    <p>$800</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Carbon Mountain Frame</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.z2L3SecrBgyjoNJ_H74IgwHaHa?pid=ImgDet&rs=1">
                <div>
                    <p>$3,000</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Carbon Mountain Frame</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.zP0oZJ5sHx3x0UArii-wsgHaHa?pid=ImgDet&rs=1">
                <div>
                    <p>$1,973</p>
                    <button type="button">BUY</button>
                </div>
            </div>

        </div>

        <div class="Bike_chains">
            <h1>Bike Chains</h1>

            <div>
                <p>12-Speed XTR Chain</p>
                <img class="image" src="https://www.sefiles.net/images/library/large/shimano-cn-m9100-12-speed-xtr-chain-372777-1.jpeg">
                <div>
                    <p>$68.99</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Ultegra 10-Speed Chain</p>
                <img class="image" src="https://www.sefiles.net/images/library/large/shimano-cn-m9100-12-speed-xtr-chain-372777-1.jpeg">
                <div>
                    <p>$43.99</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>PC-850 8-Speed Chain</p>
                <img class="image" src="https://www.sefiles.net/images/library/large/shimano-cn-m9100-12-speed-xtr-chain-372777-1.jpeg">
                <div>
                    <p>$25.00</p>
                    <button type="button">BUY</button>
                 </div>
            </div> 
                
            <div>
                <p>NX Eagle Chain</p>
                <img class="image" src="https://www.sefiles.net/images/library/large/shimano-cn-m9100-12-speed-xtr-chain-372777-1.jpeg">
                <div>
                    <p>$28.00</p>
                    <button type="button">BUY</button>
                </div>
            </div>              

        </div>

        <div class="Pedals">
            <h1>Pedals</h1>

            <div>
                <p>xt Mountain bike Pedals</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.5w9NR8cJOrRDQNx1ThyS9QHaHa?pid=ImgDet&rs=1">
                <div>
                    <p>$156.81</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>PD-EH500 Dual Sided Pedals</p>
                <img class="image" src="https://static.biketiresdirect.com/productimages/images650/shhbn4-1.jpg">
                <div>
                    <p>$79.99</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Shimano Dura-Ace PD-R9100 Pedals</p>
                <img class="image" src="https://static.biketiresdirect.com/productimages/images650/sh0012-3.jpg">
                <div>
                    <p>$279.99</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Garmin Vector 3 Power Pedals</p>
                <img class="image" src="https://static.biketiresdirect.com/productimages/images50/gbvgb3-2.jpg">
                <div>
                    <p>$699.00</p>
                    <button type="button">BUY</button>
                </div>
            </div>

        </div>

        <div class="Handlebars">
            <h1>Handlebars</h1>

            <div>
                <p>Alloy Road Bike Handlebars</p>
                <img class="image" src="https://i.ebayimg.com/images/i/151549260931-0-1/s-l1000.jpg">
                <div>
                    <p>$300.00</p>
                    <button type="button">BUY</button>
                </div>
            </div>
                
            <div>
                <p>Carbon Fiber Road Bike Handlebars</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.P3lYFrmS7X3DKH0bPypL3gHaHa?pid=ImgDet&rs=1">
                <div>
                    <p>$500.00</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Carbon Fiber Race Bike Handlebars</p>
                <img class="image" src="https://th.bing.com/th/id/OIP.uRxqqUJ0gPAAcZUTJJ-FtQHaHa?pid=ImgDet&rs=1">
                <div>
                    <p>$500.00</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Bike Handlebars</p>
                <img class="image" src="https://www.toplowrider.com/thumbnail.asp?file=assets/images/169104.jpg&maxx=500&maxy=0">
                <div>
                    <p>$100.00</p>
                    <button type="button">BUY</button>
                </div>
            </div>

        </div>

        <div class="Bike_Gears">
            <h1>Bike Gears</h1>

            <div>
                <p>Sugino Messenger Track Fixed Gear 44t Crankset</p>
                <img class="image" src="https://cdn.shopify.com/s/files/1/2113/8927/products/Black_5_large.jpg?v=1569307928">
                <div>
                    <p>$174.40</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Gear Mountain Bike Racing Professional 30T 32T 34T Bicycle Flywheel 8 Speed</p>
                <img class="image" src="https://i5.walmartimages.com/asr/66ea0c9d-77f1-4a75-8fa8-14f6820648f8.91c0e2e0e5e6ae73b11ba7f53236ebf4.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF">
                <div>
                    <p>$46.60</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>JRL 10Tooth Clutch Gear Drive Sprocket 49cc/66cc/80cc Engine Parts Motorized Bicycle</p>
                <img class="image" src="https://m.media-amazon.com/images/I/61GIbQzWXIL._AC_SX466_.jpg">
                <div>
                    <p>$5.99</p>
                    <button type="button">BUY</button>
                </div>
            </div>

            <div>
                <p>Ultegra FC-R8000 Crankset</p>
                <img class="image" src="https://www.westernbikeworks.com/productimages/imageslarge/shdij1-1.jpg">
                <div>
                    <p>$289.99</p>
                    <button type="button">BUY</button>
                </div>
            </div>










        </div>


    </body>

</html>