<!DOCTYPE html>
<html lang="en">
<head>
    <div class="navbar">
        <nav>
            <ul>
              <li>
                  <a href="/">Log-out</a>
              </li>
              <li>
                  <a href="/shop">Prebuilt Bikes</a>
              </li>
              <li>
                  <a href="/Customize">Customize</a>
              </li>
              <li>
                  <a href="/bio">Parts</a>
              </li>
              <li>
                  <a href="/Checkout">Cart</a>
              </li>
            </ul>
          </nav>
        </div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/prebuilt.css') }}">
    <title>Description</title>
</head>
<body>
    <h1 class="menu menu-large" id="menuhead"><u>Description</u></h1>
        </header>
        <section class="container content-section">
            <div class="shopitems" style="margin-bottom: 5%;">
                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B1"><u><a href="/desc">Bike 1</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.naUYfx-KxVfJLvUud77TXwHaE7?w=259&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P1">$12,000</span>
                    <div>
                        <p>This is a mountian bike it is meant for </p>
                        <p style="margin-top: -4%;">climbing hills and rough terrain</p>
                    </div>
                </div>

                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B2"><u><a href="/desc">Bike 2</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.DzDvYMHXfjHzmY0bPYcBWwHaE8?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P2">$900</span>
                    <div>
                        <p>This E-bike is for rideing but with less work</p>
                        <p style="margin-top: -4%;">so you can save energy and time.</p>
                    </div>
                </div>

                <div class="shopitem" >
                    <div class="tooltip shop-item-title" id="B3"><u><a href="/desc">Bike 3</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.zUAcXgcSZoibiu6kyqaxSgHaE7?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P3">$700</span>
                    <div>
                        <p>This bike is meant for tall people looking </p>
                        <p style="margin-top: -4%;">to take a nice trip.</p>
                    </div>
                </div>

                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B4"><u><a href="/desc">Bike 4</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.8H9HLxB221gFCkU6V9yPMgHaE7?w=296&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P4">$250</span>
                    <div>
                        <p>This bike is meant for all types of terrain</p>
                        <p style="margin-top: -4%;">and goes fast.</p>
                    </div>
                </div>

                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B5"><u><a href="/desc">Bike 5</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.A5OimZIxVEG9LdTghBxXhwHaEf?w=281&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P5">$50</span>
                    <div>
                        <p>This race bike is for thoes looking to  </p>
                        <p style="margin-top: -4%; margin-bottom: 4%;">beat all the competition.</p>
                    </div>
                </div>

                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B6"><u><a href="/desc">Велосипед 6</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ir5xsBMQhOhgzaNqTstKygHaE8?w=296&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P6">₽448,049.79</span>
                    <div>
                        <p>Это мошенничество, пожалуйста, купите</p>
                        <p style="margin-top: -4%;">у нас нет денег</p>
                    </div>
                </div>

                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B7"><u><a href="/desc">Bike 7</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ll8hIFrMK1vnbf08mCW44AHaE8?w=295&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P7">$500</span>
                    <div>
                        <p>This one is for dirt bikeing and off roading, </p>
                        <p style="margin-top: -4%;">to go off roading.</p>
                    </div>
                </div>

                <div class="shopitem" >
                    <div class="tooltip shop-item-title" id="B8"><u><a href="/desc">Bike 8</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.j_xhcHLP7Wa98BPfjU7MzQHaFS?w=278&h=199&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P8">$1,000</span>
                    <div>
                        <p>This mountian bike is for going fast and  </p>
                        <p style="margin-top: -4%;">like to take a nice long ride.</p>
                    </div>
                </div>

                <div class="shopitem">
                     <div class="tooltip shop-item-title" id="B9"><u><a href="/desc">Bike 9</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ccQbhk03RgBmQpCHRwDLSgHaE8?w=281&h=187&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P9">$1,500</span>
                    <div>
                        <p>This one is meant for just the avarage rider,</p>
                        <p style="margin-top: -4%;">or someone looking to try out a bmx.</p>
                    </div>
                </div>

                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B10"><u><a href="/desc">Bike 10</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/R.1420495a8b03750e7e03ec99cc3eec7d?rik=awsC2SiP6Cuqwg&pid=ImgRaw&r=0">
                    <span class="shop-item-price" id="P10">$5,000</span>
                    <div>
                        <p>This mountian bike is for taller people who </p>
                        <p style="margin-top: -4%;">who want an adventer ride.</p>
                    </div>
                </div>

                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B11"><u><a href="/desc">Bike 11</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.O5IXWUdcE9waLwJ3hT2KnwHaE7?w=263&h=180&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P11">$550</span>
                    <div>
                        <p>This bike is for a casual rider who likes</p>
                        <p style="margin-top: -4%;">to look stylish while they ride.</p>
                    </div>
                </div>

                <div class="shopitem">
                    <div class="tooltip shop-item-title" id="B12"><u><a href="/desc">Bike 12</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ZzhFMEHOa9cDnlHCvkA13wHaEy?w=290&h=188&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P12">$800</span>
                    <div>
                        <p>This E-bike is meant for people looking to ride </p>
                        <p style="margin-top: -4%;">but like the look of a motorcycle.</p>
                    </div>                  
                </div>
                
        </form>
</body>