<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/prebuilt.css') }}">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <title>Manager Page</title>
</head>
<body>
    
</p>
    <div class="back">
    
      <h1 class="menu menu-large" id="menuhead"><u>Bike Shop</u></h1>
        </header>
        <section class="container content-section">
            <h1 class="managerheader">Manager Page</h1>
            <div class="shop-items" id="shopitems">
                <div class="shopitem" id="item1">
                    <div class="tooltip shop-item-title" id="B1"><u>Bike 1</u></div>                    
                    <img class="shop-item-image" src='https://th.bing.com/th/id/OIP.naUYfx-KxVfJLvUud77TXwHaE7?w=259&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7'>
                    <span class="shop-item-price">$12000</span>
                    <div>
                        <p>This mountain bike is not only sturdy but also looks good to the eye.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item1)" >Remove</button>
                        </div>
                    </div>
                </div>
                <div class="shopitem" id="item2">
                    <div class="tooltip shop-item-title"><u>Bike 2</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.DzDvYMHXfjHzmY0bPYcBWwHaE8?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price">$900</span>
                    <div>
                        <p>This E-bike is our top seller and our number one choice.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item2)" >Remove</button>
                    </div>
                </div>
                <div class="shopitem" id="item3">
                    <div class="tooltip shop-item-title"><u>Bike 3</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.zUAcXgcSZoibiu6kyqaxSgHaE7?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price">$700</span>
                    <div>
                        <p>This bike is meant for tall people looking </p>
                        <p style="margin-top: -4%;">to take a nice long ride.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item3)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem" id="item4">
                    <div class="tooltip shop-item-title"><u>Bike 4</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.8H9HLxB221gFCkU6V9yPMgHaE7?w=296&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price">$250</span>
                    <div>
                        <p>This bike is meant for all types of terrain</p>
                        <p style="margin-top: -4%;">and rides very smoothly.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item4)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem" id="item5">
                    <div class="tooltip shop-item-title"><u>Bike 5</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.A5OimZIxVEG9LdTghBxXhwHaEf?w=281&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price">$50</span>
                    <div>
                        <p>This bike is for thoes looking to race </p>
                        <p style="margin-top: -4%;">and beat all the competition.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item5)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem" id="item6">
                    <div class="tooltip shop-item-title"><u>Велосипед 6</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ir5xsBMQhOhgzaNqTstKygHaE8?w=296&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price">₽448,049.79</span>
                    <div>
                        <p>Это мошенничество, пожалуйста, купите</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item6)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem" id="item7">
                    <div class="tooltip shop-item-title"><u>Bike 7</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ll8hIFrMK1vnbf08mCW44AHaE8?w=295&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" >$500</span>
                    <div>
                        <p>This one is for the little one to go off roading </p>
                        <p style="margin-top: -4%;">to go off roading.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item7)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem" id="item8">
                    <div class="tooltip shop-item-title"><u>Bike 8</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.j_xhcHLP7Wa98BPfjU7MzQHaFS?w=278&h=199&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price">$1,000</span>
                    <div>
                        <p>This mountian bike is for people who like to go  </p>
                        <p style="margin-top: -4%;">fast but still like to take a nice long ride.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item8)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem" id="item9">
                     <div class="tooltip shop-item-title"><u>Bike 9</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ccQbhk03RgBmQpCHRwDLSgHaE8?w=281&h=187&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" style="margin-top: -4%;">$1,500</span>
                    <div>
                        <p>This one is meant for just the avarage rider.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item9)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem"  id="item10">
                    <div class="tooltip shop-item-title"><u>Bike 10</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/R.1420495a8b03750e7e03ec99cc3eec7d?rik=awsC2SiP6Cuqwg&pid=ImgRaw&r=0">
                    <span class="shop-item-price">$5,000</span>
                    <div>
                        <p>This mountian bike is for taller people who </p>
                        <p style="margin-top: -4%;">who want an adventer ride.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item10)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem"  id="item11">
                    <div class="tooltip shop-item-title"><u>Bike 11</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.O5IXWUdcE9waLwJ3hT2KnwHaE7?w=263&h=180&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price">$550</span>
                    <div>
                        <p>This bike is for a casual rider who likes</p>
                        <p style="margin-top: -4%;">to look stylish while they ride.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item11)" >Remove</button>
                        </div>
                </div>
                </div>
                <div class="shopitem" id="item12">
                    <div class="tooltip shop-item-title"><u>Bike 12</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ZzhFMEHOa9cDnlHCvkA13wHaEy?w=290&h=188&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price">$800</span>
                    <div>
                        <p>This E-bike is meant for people looking to ride </p>
                        <p style="margin-top: -4%;">but like the look of a motorcycle.</p>
                        <div class="shop-item-details" style="margin-top: -4%;">
                            <button class="btn btn-primary shop-item-button"type="button" onclick="removeItem(item12)" >Remove</button>
                        </div>
                </div>
                </div>
                
                </div>
                <div class="additem" id="additem">
                    <p>Add new item</p>
                    <input type="text" id="ItemName" placeholder="Enter item name">
                    <input type="text" id="ItemPrice" placeholder="Enter item price">
                    <input type="text" id="ItemDesc" placeholder="Enter item description">
                    <!-- <form> -->
                        <img id="defaultimg" src="static/uploads/redbike.jpg" alt="your image" />
                        <button id="btn_add">Add</button>
                    <!-- </form> -->
                </div>
        
        </form>
        <br /><br />
    </div>
</body>
<script>
    function removeItem(shopitem){
        shopitem.parentNode.removeChild(shopitem);
        console.log('item removed!')
        }
        function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#addimage')
                .attr('src', e.target.result)
                .width(150)
                .height(200);
        };

        reader.readAsDataURL(input.files[0]);
    }
}

        $(document).ready(function() {

$("#btn_add").click(function() {
// let fileList = ximage.files;
console.log('here1')
let newitem = document.getElementById('ItemName').value
let newprice = document.getElementById('ItemPrice').value
let newdesc = document.getElementById('ItemDesc').value
// let newimage = fileList
let _div = document.createElement('div');
//gives new list item the id of text
// node.setAttribute('id', "text")
//adds the list item to the ul tag
// document.querySelector('shopitems').appendChild(node);
_div.innerHTML = "<div class='shopitem' id='item13'><div class='tooltip shop-item-title'><u>"+newitem+"</u></div><img class='shop-item-image' src='static/uploads/redbike.jpg'><span class='shop-item-price'>"+newprice+"</span><div><p>"+newdesc+"</p><div class='shop-item-details' style='margin-top: -4%;''><button class='btn btn-primary shop-item-button'type='button' onclick='removeItem(item13)' >Remove</button></div></div></div>"
localStorage.setItem(_div)
console.log(newitem)
console.log(newprice)
console.log(newdesc)
shopitems.appendChild(_div)
// $("#shopitems").append("<div class='shopitem' id='item12'><div class='tooltip shop-item-title'><u>"+newitem+"</u></div><img class='shop-item-image' src='https://th.bing.com/th/id/OIP.ZzhFMEHOa9cDnlHCvkA13wHaEy?w=290&h=188&c=7&r=0&o=5&pid=1.7'><span class='shop-item-price'>"+newprice+"</span><div><p>"+newdesc+"</p><div class='shop-item-details' style='margin-top: -4%;''><button class='btn btn-primary shop-item-button'type='button' onclick='removeItem(item13)' >Remove</button></div></div></div>");
});	
})
</script>
</html>