<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/prebuilt.css') }}">
    <title>Sign Up</title>
</head>
<body>
    
    <div class="back">
    
      <h1 class="menu menu-large" id="menuhead">Bike Shop</h1>
        </header>
        <section class="container content-section" style="background-color: #2b2a2a;">
            <div class="shop-items">
                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 1</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.naUYfx-KxVfJLvUud77TXwHaE7?w=259&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$12,000</span>
                        <button class="btn btn-primary shop-item-button" type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 2</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.DzDvYMHXfjHzmY0bPYcBWwHaE8?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$400</span>
                        <button class="btn btn-primary shop-item-button"type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item" >
                    <div class="tooltip shop-item-title">Bike 3</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.zUAcXgcSZoibiu6kyqaxSgHaE7?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$700</span>
                        <button class="btn btn-primary shop-item-button" type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 4</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.8H9HLxB221gFCkU6V9yPMgHaE7?w=296&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$250</span>
                        <button class="btn btn-primary shop-item-button" type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 5</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.A5OimZIxVEG9LdTghBxXhwHaEf?w=281&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$50</span>
                        <button class="btn btn-primary shop-item-button"type="button">Buy</button>
                    </div>
                </div>

                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 6</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ir5xsBMQhOhgzaNqTstKygHaE8?w=296&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">₽448,049.79</span>
                        <button class="btn btn-primary shop-item-button" type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 7</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ll8hIFrMK1vnbf08mCW44AHaE8?w=295&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$500</span>
                        <button class="btn btn-primary shop-item-button"type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item" >
                    <div class="tooltip shop-item-title">Bike 8</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.j_xhcHLP7Wa98BPfjU7MzQHaFS?w=278&h=199&c=7&r=0&o=5&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1,000</span>
                        <button class="btn btn-primary shop-item-button" type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item">
                     <div class="tooltip shop-item-title">Bike 9</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ccQbhk03RgBmQpCHRwDLSgHaE8?w=281&h=187&c=7&r=0&o=5&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1,500</span>
                        <button class="btn btn-primary shop-item-button" type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 10</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/R.1420495a8b03750e7e03ec99cc3eec7d?rik=awsC2SiP6Cuqwg&pid=ImgRaw&r=0">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$5,000</span>
                        <button class="btn btn-primary shop-item-button"type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 11</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.O5IXWUdcE9waLwJ3hT2KnwHaE7?w=263&h=180&c=7&r=0&o=5&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$550</span>
                        <button class="btn btn-primary shop-item-button"type="button">Buy</button>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title">Bike 12</div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ZzhFMEHOa9cDnlHCvkA13wHaEy?w=290&h=188&c=7&r=0&o=5&pid=1.7">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$800</span>
                        <button class="btn btn-primary shop-item-button"type="button">Buy</button>
                    </div>
                </div>
                </div>
        
        </form>
        <br /><br />
    </div>
</body>
</html>