<!DOCTYPE html>
<html lang="en">
<head>
    <div class="navbar">
    <nav>
        <ul>
          <li>
              <a href="/">Log-out</a>
          </li>
          <li>
              <a href="/shop">Prebuilt Bikes</a>
          </li>
          <li>
              <a href="/Customize">Customize</a>
          </li>
          <li>
              <a href="/bio">Parts</a>
          </li>
          <li>
              <a href="/Checkout">Cart</a>
          </li>
        </ul>
      </nav>
    </div>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/prebuilt.css') }}">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <title>Sign Up</title>
</head>
<body>
    
    <div class="back">
    
      <h1 class="menu menu-large" id="menuhead"><u>Bike Shop</u></h1>
        </header>
        <section class="container content-section">

            <div class="shopitems">
                <div class="shopitem" id="1">
                    <div class="tooltip shop-item-title" id="B1"><u><a href="/desc">Bike 1</a></u></div>

                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.naUYfx-KxVfJLvUud77TXwHaE7?w=259&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P1">$12,000</span>
                    <div>
                        <p>This mountian bike is not only sturdy </p>
                        <p style="margin-top: -4%;">but also loooks good to the eye.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust1" value="Cust1" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy1" value="Buy1" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>
                    </div>
                </div>
              
                <div class="shopitem" id="2">
                    <div class="tooltip shop-item-title" id="B2"><u><a href="/desc">Bike 2</a></u></div>

                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.DzDvYMHXfjHzmY0bPYcBWwHaE8?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P2">$900</span>
                    <div>
                        <p>This E-bike is our top seller and our number one </p>
                        <p style="margin-top: -4%;">choice, with some of our best stabilizers.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust2" value="Cust2" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy2" value="Buy2" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>
                    </div>
                </div>

                <div class="shopitem" id="3">
                    <div class="tooltip shop-item-title" id="B3"><u><a href="/desc">Bike 3</a></u></div>

                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.zUAcXgcSZoibiu6kyqaxSgHaE7?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P3">$700</span>
                    <div>
                        <p>This bike is meant for tall people looking </p>
                        <p style="margin-top: -4%;">to take a nice long ride.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust3" value="Cust3" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy3" value="Buy3" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>
                    </div>
                </div>
              
                <div class="shopitem" id="4">
                    <div class="tooltip shop-item-title" id="B4"><u><a href="/desc">Bike 4</a></u></div>

                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.8H9HLxB221gFCkU6V9yPMgHaE7?w=296&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P4">$250</span>
                    <div>
                        <p>This bike is meant for all types of terrain</p>
                        <p style="margin-top: -4%;">and rides very smoothly.</p>
                    </div>
                    <div class="shop-it m-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust4" value="Cust4" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy4" value="Buy4" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>                    
                    </div>
                </div>

                <div class="shopitem" id="5">
                    <div class="tooltip shop-item-title" id="B5"><u><a href="/desc">Bike 5</a></u></div>

                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.A5OimZIxVEG9LdTghBxXhwHaEf?w=281&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P5">$50</span>
                    <div>
                        <p>This bike is for thoes looking to race </p>
                        <p style="margin-top: -4%; margin-bottom: 4%;">and beat all the competition.</p>
                    </div>
                    <div class="shop-item-details"  style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust5" value="Cust5" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy5" value="Buy5" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>                    
                    </div>
                </div>

                <div class="shopitem" id="6">
                    <div class="tooltip shop-item-title" id="B6"><u><a href="/desc">Велосипед 6</a></u></div>

                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ir5xsBMQhOhgzaNqTstKygHaE8?w=296&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P6">₽448,049.79</span>
                    <div>
                        <p>Это мошенничество, пожалуйста, купите</p>
                        <p style="margin-top: -4%;">у нас нет денег</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust6" value="Cust6" type="submit" class="btn btn-primary shop-item-button"  >Настроить</button>
                            <button name="Buy6" value="Buy6" type="submit" class="btn btn-primary shop-item-button" >Порядок</button>
                        </form>                  
                    </div>
                </div>

                <div class="shopitem" id="7">
                    <div class="tooltip shop-item-title" id="B7"><u><a href="/desc">Bike 7</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ll8hIFrMK1vnbf08mCW44AHaE8?w=295&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P7">$500</span>
                    <div>
                        <p>This one is for the little one to go off roading </p>
                        <p style="margin-top: -4%;">to go off roading.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust7" value="Cust7" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy7" value="Buy7" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>                       
                    </div>
                </div>

                <div class="shopitem" id="8">
                    <div class="tooltip shop-item-title" id="B8"><u><a href="/desc">Bike 8</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.j_xhcHLP7Wa98BPfjU7MzQHaFS?w=278&h=199&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P8">$1,000</span>
                    <div>
                        <p>This mountian bike is for people who like to go  </p>
                        <p style="margin-top: -4%;">fast but still like to take a nice long ride.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust8" value="Cust8" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy8" value="Buy8" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>                        
                    </div>
                </div>

                <div class="shopitem" id="9">
                     <div class="tooltip shop-item-title" id="B9"><u><a href="/desc">Bike 9</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ccQbhk03RgBmQpCHRwDLSgHaE8?w=281&h=187&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P9">$1,500</span>
                    <div>
                        <p>This one is meant for just the avarage rider,</p>
                        <p style="margin-top: -4%;">or someone looking to try out a bmx.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust9" value="Cust9" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy9" value="Buy9" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>                        
                    </div>
                </div>

                <div class="shopitem" id="10">
                    <div class="tooltip shop-item-title" id="B10"><u><a href="/desc">Bike 10</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/R.1420495a8b03750e7e03ec99cc3eec7d?rik=awsC2SiP6Cuqwg&pid=ImgRaw&r=0">
                    <span class="shop-item-price" id="P10">$5,000</span>
                    <div>
                        <p>This mountian bike is for taller people who </p>
                        <p style="margin-top: -4%;">who want an adventer ride.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust10" value="Cust10" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy10" value="Buy10" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>                        
                    </div>
                </div>


                <div class="shopitem" id="11">
                    <div class="tooltip shop-item-title" id="B11"><u><a href="/desc">Bike 11</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.O5IXWUdcE9waLwJ3hT2KnwHaE7?w=263&h=180&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P11">$550</span>
                    <div>
                        <p>This bike is for a casual rider who likes</p>
                        <p style="margin-top: -4%;">to look stylish while they ride.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust11" value="Cust11" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy11" value="Buy11" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>                        
                    </div>
                </div>

                <div class="shopitem" id="12">
                    <div class="tooltip shop-item-title" id="B12"><u><a href="/desc">Bike 12</a></u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ZzhFMEHOa9cDnlHCvkA13wHaEy?w=290&h=188&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P12">$800</span>
                    <div>
                        <p>This E-bike is meant for people looking to ride </p>
                        <p style="margin-top: -4%;">but like the look of a motorcycle.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Cust12" value="Cust12" type="submit" class="btn btn-primary shop-item-button" >Customize</button>
                            <button name="Buy12" value="Buy12" type="submit" class="btn btn-primary shop-item-button" >Order</button>
                        </form>                        
                    </div>
                </div>
                
                </div>
                <button class="btn "onclick="clearStorage()">Clear storage</button>
                
        </form>
        <br /><br />
    </div>
</body>
<script>
    function clearStorage(){
	localStorage.clear();
}
let newitemnum = 12
let newitemid = 'item'+newitemnum

let newitem = localStorage.getItem('newitem')
let newprice = localStorage.getItem('newprice')
let newdesc = localStorage.getItem('newdesc')
if(localStorage.getItem('item1') === 'hide') {
    $('#1').hide();
    console.log('item 1 removed!')
};
if(localStorage.getItem('item2') === 'hide') {
    $('#2').hide();
};
if(localStorage.getItem('item3') === 'hide') {
    $('#3').hide();
};
if(localStorage.getItem('item4') === 'hide') {
    $('#4').hide();
};
if(localStorage.getItem('item5') === 'hide') {
    $('#5').hide();
};
if(localStorage.getItem('item6') === 'hide') {
    $('#6').hide();
};
if(localStorage.getItem('item7') === 'hide') {
    $('#7').hide();
};
if(localStorage.getItem('item8') === 'hide') {
    $('#8').hide();
};
if(localStorage.getItem('item9') === 'hide') {
    $('#9').hide();
};
if(localStorage.getItem('item10') === 'hide') {
    $('#10').hide();
};
if(localStorage.getItem('item11') === 'hide') {
    $('#11').hide();
};
if(localStorage.getItem('item12') === 'hide') {
    $('#12').hide();
};
if(localStorage.getItem('item13') === 'true'){
    // let _div = document.createElement('div');
    let newitem = localStorage.getItem('newitem')
    let newprice = localStorage.getItem('newprice')
    let newdesc = localStorage.getItem('newdesc')
    _div.innerhtml = "<div class='shopitem' id="+newitemid+"><div class='tooltip shop-item-title' id='B13'><u>"+newitem+"</u></div><img class='shop-item-image' src='static/uploads/redbike.jpg'><span class='shop-item-price' id='P13'>"+newprice+"</span><div><p>"+newdesc+"</p></div><div class='shop-item-details' style='margin-top: -4%;''><form method='post' action='{{ url_for('shop1')}}''><button name='Buy13' value='Buy13' type='submit' class='btn btn-primary shop-item-button' >Customize</button><button name='Buy13' value='Buy13' type='submit' class='btn btn-primary shop-item-button' >Order</button</form></div></div>"
    $('#shopitems').append("<div class='shopitem' id="+newitemid+"><div class='tooltip shop-item-title' id='B13'><u>"+newitem+"</u></div><img class='shop-item-image' src='static/uploads/redbike.jpg'><span class='shop-item-price' id='P13'>"+newprice+"</span><div><p>"+newdesc+"</p></div><div class='shop-item-details' style='margin-top: -4%;''><form method='post' action='{{ url_for('shop1')}}''><button name='Buy13' value='Buy13' type='submit' class='btn btn-primary shop-item-button' >Customize</button><button name='Buy13' value='Buy13' type='submit' class='btn btn-primary shop-item-button' >Order</button</form></div></div>")
    console.log('item added')
}

</script>
</html>
