<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/prebuilt.css') }}">
    <title>Sign Up</title>
</head>
<body>
    
    <div class="back">
    
      <h1 class="menu menu-large" id="menuhead"><u>Bike Shop</u></h1>
        </header>
        <section class="container content-section">
            <div class="shop-items">
                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B1"><u>Bike 1</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.naUYfx-KxVfJLvUud77TXwHaE7?w=259&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P1">$12,000</span>
                    <div>
                        <p>This mountian bike is not only sturdy </p>
                        <p style="margin-top: -4%;">but also loooks good to the eye.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy1" value="Buy1" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B2"><u>Bike 2</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.DzDvYMHXfjHzmY0bPYcBWwHaE8?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P2">$900</span>
                    <div>
                        <p>This E-bike is our top seller and our number one choice.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy2" value="Buy2" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>
                    </div>
                </div>
                <div class="shop-item" >
                    <div class="tooltip shop-item-title" id="B3"><u>Bike 3</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.zUAcXgcSZoibiu6kyqaxSgHaE7?w=297&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P3">$700</span>
                    <div>
                        <p>This bike is meant for tall people looking </p>
                        <p style="margin-top: -4%;">to take a nice long ride.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy3" value="Buy3" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B4"><u>Bike 4</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.8H9HLxB221gFCkU6V9yPMgHaE7?w=296&h=198&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P4">$250</span>
                    <div>
                        <p>This bike is meant for all types of terrain</p>
                        <p style="margin-top: -4%;">and rides very smoothly.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy4" value="Buy4" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>                    
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B5"><u>Bike 5</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.A5OimZIxVEG9LdTghBxXhwHaEf?w=281&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P5">$50</span>
                    <div>
                        <p>This bike is for thoes looking to race </p>
                        <p style="margin-top: -4%;">and beat all the competition.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;"> 
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy5" value="Buy5" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>                    
                    </div>
                </div>

                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B6"><u>Велосипед 6</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ir5xsBMQhOhgzaNqTstKygHaE8?w=296&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P6">₽448,049.79</span>
                    <div>
                        <p>Это мошенничество, пожалуйста, купите</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy6" value="Buy6" type="submit" class="btn btn-primary shop-item-button" >Покупать</button>
                        </form>                  
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B7"><u>Bike 7</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.Ll8hIFrMK1vnbf08mCW44AHaE8?w=295&h=197&c=7&r=0&o=5&dpr=1.25&pid=1.7">
                    <span class="shop-item-price" id="P7">$500</span>
                    <div>
                        <p>This one is for the little one to go off roading </p>
                        <p style="margin-top: -4%;">to go off roading.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy7" value="Buy7" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>                       
                    </div>
                </div>
                <div class="shop-item" >
                    <div class="tooltip shop-item-title" id="B8"><u>Bike 8</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.j_xhcHLP7Wa98BPfjU7MzQHaFS?w=278&h=199&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P8">$1,000</span>
                    <div>
                        <p>This mountian bike is for people who like to go  </p>
                        <p style="margin-top: -4%;">fast but still like to take a nice long ride.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy8" value="Buy8" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>                        
                    </div>
                </div>
                <div class="shop-item">
                     <div class="tooltip shop-item-title" id="B9"><u>Bike 9</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ccQbhk03RgBmQpCHRwDLSgHaE8?w=281&h=187&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P9">$1,500</span>
                    <div>
                        <p>This one is meant for just the avarage rider.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy9" value="Buy9" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>                        
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B10"><u>Bike 10</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/R.1420495a8b03750e7e03ec99cc3eec7d?rik=awsC2SiP6Cuqwg&pid=ImgRaw&r=0">
                    <span class="shop-item-price" id="P10">$5,000</span>
                    <div>
                        <p>This mountian bike is for taller people who </p>
                        <p style="margin-top: -4%;">who want an adventer ride.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy10" value="Buy10" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>                        
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B11"><u>Bike 11</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.O5IXWUdcE9waLwJ3hT2KnwHaE7?w=263&h=180&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P11">$550</span>
                    <div>
                        <p>This bike is for a casual rider who likes</p>
                        <p style="margin-top: -4%;">to look stylish while they ride.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy11" value="Buy11" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>                        
                    </div>
                </div>
                <div class="shop-item">
                    <div class="tooltip shop-item-title" id="B12"><u>Bike 12</u></div>
                    <img class="shop-item-image" src="https://th.bing.com/th/id/OIP.ZzhFMEHOa9cDnlHCvkA13wHaEy?w=290&h=188&c=7&r=0&o=5&pid=1.7">
                    <span class="shop-item-price" id="P12">$800</span>
                    <div>
                        <p>This E-bike is meant for people looking to ride </p>
                        <p style="margin-top: -4%;">but like the look of a motorcycle.</p>
                    </div>
                    <div class="shop-item-details" style="margin-top: -4%;">
                        <form method="post" action="{{ url_for('shop1')}}">
                            <button name="Buy12" value="Buy12" type="submit" class="btn btn-primary shop-item-button" >Buy</button>
                        </form>                        
                    </div>
                </div>
                </div>
        

                
        </form>
        <br /><br />
    </div>
</body>
</html>