<html>
    <div class="navbar">
        <nav>
            <ul>
              <li>
                  <a href="/">Log-out</a>
              </li>
              <li>
                  <a href="/shop">Prebuilt Bikes</a>
              </li>
              <li>
                  <a href="/Customize">Customize</a>
              </li>
              <li>
                  <a href="/Parts">Parts</a>
              </li>
              <li>
                  <a href="/Checkout">Cart</a>
              </li>
            </ul>
        </nav>
    </div> 
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Receipt.css') }}">
        <h1 class="title">Receipt</h1>
    </head>

    <body>
            <p class="move">Thank You For Your order</p>
    </body>
</html>