*{
    font-family: sans-serif;
    color: black;
    
}
html{
    background-image: linear-gradient(mediumturquoise,seagreen);
}
body{
    border: 2px solid black;
    
}
.loginbtn{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}
.regform{
    border: 2px solid black;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 3%;
    
}